.blue{
    background-color:blue;
}
.green{
    background-color: green;
}
/* *{
    outline: 1px red solid;
} */
body{
    background: url(img/bg-body.jpg),repeat;
}
/* css reset */
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
.navbar-light .navbar-nav .nav-link {
    color:#DBF3C5;
}
header .container-fluid {
    background-color: #68635D;
}

/* header .container-fluid a:hover{
    color:#68635D;
} */
header a:hover{
    background-color: #DBF3C5;
    color:#68635D;
}
header .navbar{
    padding: 0;
}
/* nav .row div{
    background-color: #68635D;
    color:#DBF3C5;
}
nav .row div:hover{
    background-color: #DBF3C5;
    color:#68635D;
} */
h1{
    font-size: 25px;
}
p{
    font-size: 14px;
}
header .collapse ul{
    flex-basis: 100%;
    justify-content: space-around;
}
.navbar-brand{
    margin: 0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding:0 ;
}
.container_a_green{
    color: #9b8;
}  
.img_width{
    max-width: 100%;
    object-fit: contain;
}
.banner .wrap_img{
    position: relative;
}

.banner_content{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(000,000, 000, 0.6);
    color:seashell;
    padding: 20px 20px;
}

.banner_content a {
    font-size: 20px;
    color:grey;
}
.green-text{
    color:#D9DD90;
}
/* main */
h3{
    background-color:#d1ecd2;
    font-size: 22px;
    color:#900C3F;
    font-family: sans-serif;
    border-bottom: solid;
    border-color: #8dc48fe5;
    padding:5px 0px 5px 30px;
}

.text-content{
    padding-top: 10px;
}
.text-content  ol{
    font-size: 14px;
}
.text-content li{
    margin-bottom: 25px;
}
/* contact-content */
.contact-content {
    background-color:#d1ecd2 ;
}
.contact-content-font{
    font-size: 22px;
    color:#900C3F;
    font-family: sans-serif;
}
.wrap-contact{
    padding: 0px 12px;
    border : 2px solid #8dc48fe5;
}
.wrap-contact .col+.col{
    border-left: 2px solid #b0d6b2;
    padding-left: 20px;
}
.contact p{
    margin-bottom: 10px;
}
.contact i{
    margin-right: 10px;
}
.contact a:hover{
    color: plum;
}
.contact a{
    color:#006400;
}
.contact-content p,.contact-content a{
    margin-bottom: 10px;
}

@media screen and (max-width:768px) {
    main img{
        max-width: 50%;
    }
    .banner_content{
        position: relative;
        background-color: rgba(000,000, 000, 0.6);

    }
    .banner_content p{
       font-size:10px

    }
    .wrap-contact .col+.col{
        border:0;
        padding-left: 0;
    }
}